@charset "UTF-8";
body {
  color: #808080;
}

body a {
  color: inherit;
}

.wjs_top_nav .row > div {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.wjs_top_nav:nth-child(4) {
  border-right: none;
}

.wjs_top_nav .phone_img {
  position: relative;
}

.wjs_top_nav .phone_img:hover > img {
  display: block;
}

.wjs_top_nav .phone_img > img {
  display: none;
  position: absolute;
  top: 20px;
  left: -6px;
  z-index: 99;
}

.nav_wjs .navbar {
  height: 80px;
  margin-bottom: 1px;
}

.nav_wjs .navbar .navbar-toggle {
  margin-top: 20px;
}

.nav_wjs .navbar .navbar-brand {
  font-size: 70px;
  padding-top: 7px;
}

.nav_wjs .navbar .navbar-brand .wjsfont-logo {
  color: red;
}

.nav_wjs .navbar a {
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav_wjs .navbar a:hover, .nav_wjs .navbar a:focus {
  border-bottom: 1px solid red;
}

.wjs_carousel img {
  width: 100%;
}

.wjs_pay {
  padding-top: 70px;
  padding-bottom: 50px;
}

.wjs_pay .row > div {
  margin-bottom: 20px;
}

.wjs_pay a .media-left span {
  font-size: 40px;
}

.wjs_waiting {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 80px;
  padding-top: 30px;
}

.wjs_waiting .go_wait {
  color: orangered;
  border-bottom: 1px dashed currentColor;
  font-size: 16px;
}

.wjs_waiting .pull-right a {
  color: black;
}

.wjs_invest {
  /* 
  页面的元素 分两种类似
  块级 容器使用
  行内 点缀 美化页面 
   */
  /* 默认的卡片  灰色 cart_default */
  /* 红色的卡片 */
  /* 有进度条的卡片 */
}

.wjs_invest .row {
  padding: 20px;
}

.wjs_invest .row > div {
  margin-bottom: 35px;
}

.wjs_invest .cart_default {
  display: block;
  position: relative;
  padding-right: 80px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 0 1px 1px #ccc;
          box-shadow: 0 0 1px 1px #ccc;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  /* 左边 */
  /* 右边 */
}

.wjs_invest .cart_default:hover {
  -webkit-box-shadow: 0 0 20px 0px #ccc;
          box-shadow: 0 0 20px 0px #ccc;
}

.wjs_invest .cart_default .cart_main {
  padding: 15px;
  padding-top: 25px;
  border-right: 1px dashed #000;
}

.wjs_invest .cart_default .cart_main h4 {
  text-align: center;
}

.wjs_invest .cart_default .cart_rate {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}

.wjs_invest .cart_default .cart_rate::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  -webkit-box-shadow: 0 3px 3px 0px #ccc;
          box-shadow: 0 3px 3px 0px #ccc;
}

.wjs_invest .cart_default .cart_rate::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: -10px;
  bottom: -10px;
  -webkit-box-shadow: 0 -3px 3px 0px #ccc;
          box-shadow: 0 -3px 3px 0px #ccc;
}

.wjs_invest .cart_exp {
  background-color: red;
  color: #fff;
}

.wjs_invest .cart_exp .cart_main {
  position: relative;
  border-color: #fff;
}

.wjs_invest .cart_exp .cart_main .wjsfont {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 45px;
}

.wjs_invest .cart_progress .cart_main .cart_info > div {
  width: 50%;
}

.wjs_invest .cart_progress .cart_rate .tips {
  /* 
       nth-child和nth-of-type
        */
}

.wjs_invest .cart_progress .cart_rate .tips span:nth-child(1) {
  color: green;
  border: 1px solid currentColor;
}

.wjs_invest .cart_progress .cart_rate .tips span:nth-of-type(2) {
  color: red;
  border: 1px solid currentColor;
}

.wjs_invest .cart_progress .progress {
  margin-bottom: 5px;
}

.wjs_news {
  /* 全部新闻 */
  /* 新闻标题 */
  /* 内容 */
}

.wjs_news .all_news {
  font-size: 32px;
  color: #000;
  border-bottom: 1px solid #000;
  position: relative;
}

.wjs_news .all_news::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: absolute;
  right: -10px;
  bottom: -5px;
}

.wjs_news .news_title {
  position: relative;
}

.wjs_news .news_title .wjs_dashed {
  position: absolute;
  width: 0;
  border-left: 1px dashed #000;
  height: 400px;
  left: 76px;
  top: 12px;
  z-index: -1;
}

.wjs_news .news_title ul {
  list-style: none;
}

.wjs_news .news_title ul li {
  margin-bottom: 60px;
}

.wjs_news .news_title ul li a {
  background-color: #cccccc;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
}

.wjs_news .news_title ul li a:hover, .wjs_news .news_title ul li a:focus {
  background-color: red;
}

.wjs_news .news_title ul li a .wjsfont {
  font-size: 55px;
}

.wjs_news .news_content a {
  color: #337ab7;
}

.wjs_news .news_content a:hover {
  text-decoration: underline;
}

.wjs_partner {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.wjs_partner h2 {
  color: #000;
}

.wjs_partner ul {
  list-style: none;
}

.wjs_partner ul li {
  float: left;
}

.wjs_partner ul li a {
  font-size: 80px;
  margin-left: 30px;
  color: #808080;
}

.wjs_partner ul li a:hover {
  color: #337ab7;
}
/*# sourceMappingURL=index.css.map */